<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <script th:src="@{jquery/jquery-3.3.1.js}" src="../static/jquery/jquery-3.3.1.js"></script>
    <link th:href="@{bootstrap-3.3.7-dist/css/bootstrap.css}" rel="stylesheet"
          href="../static/bootstrap-3.3.7-dist/css/bootstrap.css">
    <script th:src="@{bootstrap-3.3.7-dist/js/bootstrap.js}"
            src="../static/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <meta charset="UTF-8">
    <title>列表</title>
</head>
<body>
<div>
    <button class="btn btn-danger text-center">确定?</button>
</div>
</body>
</html>

</html>